.center_container{
	position: relative;width: 100%;
}
.center_copy{
	display:inline-block;
	vertical-align: middle;
	margin:auto;
	width:50%;
	position: relative;
}
.center_img{
	display:inline-block;
	vertical-align: middle;
	margin:auto;
	width:25%;
	position: relative;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
	position: fixed;
    /*background-color: #fefefe;*/
    background: #ffffff url("/pages/livelarge_exp/images/popup-01.png") no-repeat;
    background-size: cover;
    background-position: 32%;
    margin: 10% auto; /* 15% from the top and centered */
    padding-right:10px;
    /*padding-top: 0px;
    padding: 20px;*/
    border: 1px solid #888;
    /*width: 80%;*/ /* Could be more or less, depending on screen size */
    width:850px;
    height:570px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#popup_container{
	float:right;
	padding-top:52px;
	width: 60%;
}
#popup_heading{
	font-size: 3em;
	line-height: 16px;
	margin:5px;
}
#popup_content{
	line-height: 16px;
	font-size: 1.4em;
}
#popup_rovos_copy{
	font-size: 3em;
	margin:5px;
	line-height: 16px;
	font-weight: bold;
}
#enter_line{
	border-top: 1px solid #EAB332;
	border-bottom:none;
	margin-top:20px;
}
#enter_now{
	line-height: 16px;
}
#popup_sms_content .popup_underline {
	color: #EAB332;
	text-decoration: underline;
}
#popup_tnc {
	color: #EAB332;
	font-size: 23px;
}
#popup_rovos_copy {
	line-height: 23px;
}

@media (max-width: 480px) {
	.center_copy{
		display:block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:auto;
	}
	.center_img{
		display:block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:auto;
	}
	.modal-content {
	    /*background-color: #fefefe;*/
	    position: fixed;
	    left: 0;
	    right: 0;
	    background: #ffffff url("/pages/livelarge_exp/images/popup-01.png") no-repeat;
	    background-size: 100%;
	    background-position: 0;
	    margin: 15% auto; /* 15% from the top and centered */
	    padding-right: 0;
	    /*padding-top: 0px;
	    padding: 20px;*/
	    border: 1px solid #c98a2d;
	    padding-right: 5px;
	    /*width: 80%;*/ /* Could be more or less, depending on screen size */
	    width: 300px;
        height: 298px;
	}

	.rovos_enter_btn_box {
	    position: absolute;
	    bottom: 28px;
	    left: 45px;
	    width: 135px;
	}

	.rovos_enter_btn_box img {
	    display: block;
	    width: 100%;
	}

	.popup_bottom_tag {
		display: block;
	    font-size: 16px;
	    width: calc(100% - 28px);
	    position: absolute;
	    top: 100%;
	    left: -1px;
	    bottom: auto;
	    right: auto;
	    padding: 12px;
	    margin: 0;
	    text-align: center;
	    color: #164282;
	    background: rgba(255,255,255,1);
	    border: 3px solid #CE9E52;
	    border-top: none;
	}

	#popup_container{
		float: right;
        padding: 100px 1px 0;
		width: calc(100% - 40px);
	}
	#popup_heading{
		font-size: 1.8em;
		line-height: 12px;
		margin:5px;
	}
	#popup_content{
		line-height: 12px;
		font-size: 0.8em;
	}
	#popup_rovos_copy{
		font-size: 1.8em;
		margin:5px;
		line-height: 12px;
		font-weight: bold;
	}
	#enter_now{
		line-height: 0px;
	}
	#enter_line{
		display: none;
	}
	#popup_tnc {
	color: #EAB332;
	font-size: 18px;
	}
	#popup_rovos_copy {
		line-height: 23px;
	}
}

@media only screen and (min-width: 480px) {
	.center_copy{
	display:block;
	vertical-align: middle;
	margin:auto;
	position: relative;
	width:auto;
	}
	.center_img{
		display:block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:auto;
	} 
	.modal-content {
		left: 15%;
		position: fixed;
	    /*background-color: #fefefe;*/
	    background: #ffffff url("/pages/livelarge_exp/images/popup-01.png") no-repeat;
	    background-size: cover;
	    background-position: 0;
	    margin: 15% auto; /* 15% from the top and centered */
	    padding-right: 10px;
	    /*padding-top: 0px;
	    padding: 20px;*/
	    border: 1px solid #c98a2d;
	    /*width: 80%;*/ /* Could be more or less, depending on screen size */
	    width: 390px;
	    height: 392px;
	}

	.rovos_enter_btn_box {
	    position: absolute;
	    bottom: 60px;
	    left: 80px;
	    width: 120px;
	}

	.rovos_enter_btn_box img {
	    display: block;
	    width: 100%;
	}

	.popup_bottom_tag {
	    font-size: 16px;
	    width: calc(100% - 30px);
	    display: block;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    padding: 12px;
	    margin: 0;
	    text-align: center;
	    color: #164282;
	    background: rgba(255,255,255,0.8);
	    border: 3px solid #CE9E52;
	    border-top: none;
	}

	#popup_container{
		float: none;
        padding: 100px 1px 0;
		width: calc(100% - 40px);
	}
	#popup_heading{
		font-size: 1.8em;
		line-height: 14px;
		margin:5px;
	}
	#popup_content{
		line-height: 14px;
		font-size: 0.8em;
	}
	#popup_rovos_copy{
		font-size: 1.8em;
		margin:5px;
		line-height: 14px;
		font-weight: bold;
	}
	#enter_now{
		line-height: 0px;
	}
	#enter_line{
		border-top: 1px solid #EAB332;
		border-bottom:none;
		margin-top:10px;
	}
}
@media only screen and (min-width: 667px) {
	.center_copy{
		display:block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:auto;
	}
	.center_img{
		display:block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:auto;
	} 
	.modal-content {
		position: fixed;
		left: 12%;
	    /*background-color: #fefefe;*/
	    background: #ffffff url("/pages/livelarge_exp/images/popup-01.png") no-repeat;
	    background-size: cover;
	    background-position: 0;
	    margin: 15% auto; /* 15% from the top and centered */
	    padding-right: 10px;
	    /*padding-top: 0px;
	    padding: 20px;*/
	    border: 1px solid #c98a2d;
	    /*width: 80%;*/ /* Could be more or less, depending on screen size */
	    width: 525px;
	    height: 525px;
	}

	.rovos_enter_btn_box {
	    position: absolute;
	    bottom: 66px;
	    left: 100px;
	}

	.popup_bottom_tag {
	    font-size: 16px;
	    width: calc(100% - 30px);
	    display: block;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    padding: 12px;
	    margin: 0;
	    text-align: center;
	    color: #164282;
	    background: rgba(255,255,255,0.8);
	    border: 3px solid #CE9E52;
	    border-top: none;
	}

	#popup_container{
		float: right;
        padding: 100px 1px 0;
		width: calc(100% - 40px);
		/*width: 70%;*/
	}
	#popup_heading{
		font-size: 2.8em;
		line-height: 16px;
		margin:5px;
	}
	#popup_content{
		line-height: 16px;
		font-size: 1.2em;
	}
	#popup_rovos_copy{
		font-size: 2.8em;
		margin:5px;
		line-height: 16px;
		font-weight: bold;
	}
}

@media only screen and (min-width: 800px) {
	.modal-content {
		position: fixed;
		left: 22%;
		top: 0;
	    /*background-color: #fefefe;*/
	    background: #ffffff url("/pages/livelarge_exp/images/popup-01.png") no-repeat;
	    background-size: cover;
	    background-position: 0;
	    margin: 10% auto; /* 15% from the top and centered */
	    /*padding-right: 10px;*/
	    /*padding-top: 0px;
	    padding: 20px;*/
	    border: 1px solid #c98a2d;
	    /*width: 80%;*/ /* Could be more or less, depending on screen size */
	    width:525px;
	    height:525px;
    }   

    .rovos_enter_btn_box {
	    position: absolute;
	    bottom: 66px;
	    left: 100px;
	}

	.popup_bottom_tag {
	    font-size: 16px;
	    width: calc(100% - 30px);
	    display: block;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    padding: 12px;
	    margin: 0;
	    text-align: center;
	    color: #164282;
	    background: rgba(255,255,255,0.8);
	    border: 3px solid #CE9E52;
	    border-top: none;
	}

	#popup_container{
		float:right;
		padding-top:150px;
		width: 70%;
		margin-top: inherit;
		padding-right: 80px;
	}
	#popup_heading{
		font-size: 3em;
		line-height: 16px;
		margin:5px;
	}
	#popup_content{
		line-height: 16px;
		font-size: 1.4em;
	}
	#popup_rovos_copy{
		font-size: 3em;
		margin:5px;
		line-height: 16px;
		font-weight: bold;
	}
}

@media only screen and (min-width: 1050px) {
	.modal-content {
		position: fixed;
		left: calc(50% - 263px);
		/*top: -13%;*/
		top: 0;
	    /*background-color: #fefefe;*/
	    background: #ffffff url("/pages/livelarge_exp/images/popup-01.png") no-repeat;
	    background-size: cover;
	    /*background-position: 32%;*/
	    margin: 10% auto; /* 15% from the top and centered */
	    /*padding-right: 10px;*/
	    /*padding-top: 0px;
	    padding: 20px;*/
	    border: 1px solid #c98a2d;
	    /*width: 80%;*/ /* Could be more or less, depending on screen size */
	    width:525px;
	    height:525px;
	}

.rovos_enter_btn_box {
	position: absolute;
	bottom: 66px;
    left: 100px;
}

.popup_bottom_tag {
	font-size: 16px;
    width: calc(100% - 30px);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    margin: 0;
    text-align: center;
    color: #164282;
    background: rgba(255,255,255,0.8);
    border: 3px solid #CE9E52;
    border-top: none;
}

#rovos_enter_btn{
	height:50px;
	width:175px;
	padding:0px;
	margin:0px;
	margin-top:5px;
}

	.center_copy{
		display:block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:50%;
	}
	.center_img{
		display:block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:25%;
	}
}
@media only screen and (min-width: 1220px) {
	.center_copy{
		display:inline-block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:50%;
	}
	.center_img{
		display:inline-block;
		vertical-align: middle;
		margin:auto;
		position: relative;
		width:25%;
	}
}
/*.social-nav {
    width: 10px;
}*/

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/